body {
  background-color: #000;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
  display: inline-flex;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  text-decoration: none;
  width: auto;
  min-width: 8rem;
}

.btn-primary {
  background-color: #a855f7;
  color: #ffffff;

  &:hover {
    background-color: #9333ea;
  }
}

.btn-secondary {
  background-color: #71717a;
  color: #ffffff;

  &:hover {
    background-color: #4b5563;
  }
}

.btn-danger {
  background-color: #ef4444;
  color: #ffffff;

  &:hover {
    background-color: #dc2626;
  }
}

.input {
  display: block;
  width: 99%;
  padding: 0.5rem 1rem;
  border: 1px solid #27272a;
  border-radius: 0.5rem;
  background-color: #000;
  color: #ffffff;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease;

  &::placeholder {
    color: #71717a;
  }

  &:focus {
    border-color: #a855f7;
  }
}
